<div class="row">
          
    <div class="col-7">    
        <div class="chart-div">
            <div class="chart-parent row" style="height:105px;">
                <div class="widget-class col-4">
                    <div class="widget-icon">
                        <span class="lnr lnr-warning error-color" style="margin-bottom: 5px;"></span>
                    </div>
                    <div class="widget-content">
                        <div class="widget-number">3 <span class="badge green-badge"><span class="fa fa-caret-down"></span> 2</span></div>
                        <div class="widget-subheading">Unresolved security incidents</div>
                    </div>
                </div>
                <div class="widget-class col-4">
                    <div class="widget-icon">
                        <span class="lnr lnr-layers error-color"></span>
                    </div>
                    <div class="widget-content">
                        <div class="widget-number">9 <span class="badge red-badge"><span class="fa fa-caret-up"></span> 5</span></div>
                        <div class="widget-subheading">Security incidents in week</div>
                    </div>
                </div>
                <div class="widget-class col-4">
                    <div class="widget-class">
                        <div class="widget-icon">
                        <span class="lnr fa fa-plug" style="color: #7AA3E5"></span>
                        </div>
                        <div class="widget-content">
                            <div class="widget-number">10  <span class="badge red-badge"><span class="fa fa-caret-up"></span> 2</span></div>
                            <div class="widget-subheading">Open ports</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="chart-div">
                <div class="chart-heading">
                    Vulnerabilities by common ports
                </div>
                <div class="chart-parent" style="height:200px">
                </div>
                <div style="height:15px">
                </div>
            </div>
        </div>
    </div>

    <div class="col-5">
        <div class="chart-div">
            <div class="chart-parent" style="height:415px">
                <div class="example-table-container"  style="position: relative; width:100%; overflow-y: scroll;">
                <table mat-table [dataSource]="dataSource" class="example-table"  style="position: relative; width:100%;">
                    <!-- Number Column -->
                    <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>#</th>
                    <td mat-cell *matCellDef="let row">{{row.id}}</td>
                    </ng-container>
            
                    <!-- Subject Column -->
                    <ng-container matColumnDef="subject">
                    <th mat-header-cell *matHeaderCellDef>Subject</th>
                    <td mat-cell *matCellDef="let row">{{row.subject}}</td>
                    </ng-container>
                    
                    <!-- Priority Column -->
                    <ng-container matColumnDef="priority">
                        <th mat-header-cell *matHeaderCellDef>Priority</th>
                        <td mat-cell *matCellDef="let row"
                        [ngClass]="{
                            'error-color' : row.priority == 'critical',
                            'warning-color' : row.priority == 'medium',
                            'ok-color' : row.priority == 'low'
                        }">
                        <span *ngIf="row.priority == 'critical'" class="lnr lnr-cross-circle"></span>
                        <span *ngIf="row.priority == 'medium'" class="lnr lnr-warning"></span>
                        <span *ngIf="row.priority == 'low'" class="lnr lnr-arrow-down"></span>
                        {{row.priority}}
                        </td>
                        </ng-container>
            
                    <!-- Description Column -->
                    <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef>Description</th>
                        <td mat-cell *matCellDef="let row">{{row.description | slice:0:65}}<span *ngIf="row.description.length > 65">...</span></td>
                        </ng-container>

            
                    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-4">
        <div class="chart-div stacked-chart">
            <div class="chart-heading">
                <strong>6302: </strong> IP Blacklist
            </div>
            <div class="chart-parent no-legend-label no-margin-legend" style="height:50px">
                <!-- IP Blacklist -->   
                <ngx-charts-bar-horizontal-stacked
                    [view]="view"
                    [scheme]="IPColorScheme"
                    [results]="IpBlacklist"
                    [legend]="true"
                    [legendPosition]="'below'"
                    [gradient]="false">
                 </ngx-charts-bar-horizontal-stacked>  
            </div>
            <div style="height:45px">
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="chart-div stacked-chart">
            <div class="chart-heading">
                <strong>469: </strong> E-mail Blacklist
            </div>
            <div class="chart-parent no-legend-label no-margin-legend" style="height:50px">
                <!-- EMAIL Blacklist -->       
                <ngx-charts-bar-horizontal-stacked
                    [view]="view"
                    [scheme]="EmailColorScheme"
                    [results]="EmailBlacklist"
                    [legend]="true"
                    [legendPosition]="'below'"
                    [gradient]="false">
                </ngx-charts-bar-horizontal-stacked>  
            </div>
            <div style="height:45px">
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="chart-div stacked-chart">
            <div class="chart-heading">
                <strong>4: </strong> DNS Blacklist
            </div>
            <div class="chart-parent no-legend-label no-margin-legend" style="height:50px">
                <!-- DNS Blacklist -->       
                <ngx-charts-bar-horizontal-stacked
                    [view]="view"
                    [scheme]="DNSColorScheme"
                    [results]="DnsBlacklist"
                    [legend]="true"
                    [legendPosition]="'below'"
                    [gradient]="false">
                </ngx-charts-bar-horizontal-stacked>  
            </div>
            <div style="height:45px">
            </div>
        </div>
    </div>

</div>




<div class="row">
    <div class="col-12">      
        <div class="chart-div">
            <div class="chart-heading">
                In/Out traffic
            </div>
            <div class="chart-parent no-legend-label" style="height:250px">
                <ngx-charts-area-chart
                [view]="view"
                [scheme]="colorSchemeTraffic"
                [results]="traffic"
                [xAxis]="true"
                [yAxis]="true"
                [showYAxisLabel]="true"
                [showXAxisLabel]="false"
                [xAxisLabel]="'Time'"
                [yAxisLabel]="'MB / sec'"
                [legendPosition]="'below'"
                [legend]="true">
              </ngx-charts-area-chart>
            </div>
            <div style="height:55px">
            </div>
        </div>
    </div>
</div>