<div class="row">
    <div class="col-1">           
        <div class="chart-div">
            <div class="chart-parent" style="height:285px">
                <div class="traffic-light">
                    <div class="lights">
                        <div class="light red-bg" [ngClass]="{'active-light' : status.status == 'NOK'}"></div>
                        <div class="light orange-bg" [ngClass]="{'active-light' : status.status == 'PARTIALLY'}"></div>
                        <div class="light green-bg" [ngClass]="{'active-light' : status.status == 'OK'}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
                
        <div class="chart-div">
            <div class="chart-parent row" style="height:105px;">
                <div class="widget-class col-4">
                    <div class="widget-icon">
                        <span class="lnr lnr-warning error-color" style="margin-bottom: 5px;"></span>
                    </div>
                    <div class="widget-content">
                        <div class="widget-number">{{unresolvedIncidents.value}} 
                            <span class="badge" [ngClass]="{'red-badge' : unresolvedIncidents.change.increase, 'green-badge' : !unresolvedIncidents.change.increase}">
                                <span class="fa" [ngClass]="{'fa-caret-up' : unresolvedIncidents.change.increase, 'fa-caret-down' : !unresolvedIncidents.change.increase}"></span> {{unresolvedIncidents.change.value}} 
                            </span>
                        </div>
                        <div class="widget-subheading">{{unresolvedIncidents.name}}</div>
                    </div>
                </div>
                <div class="widget-class col-4">
                    <div class="widget-icon">
                        <span class="lnr lnr lnr-checkmark-circle ok-color" style="margin-left: 10px"></span>
                    </div>
                    <div class="widget-content">
                        <div class="widget-number">{{solvedIncidents.value}} </div>
                        <div class="widget-subheading">{{solvedIncidents.name}}</div>
                    </div>
                </div>
                <div class="widget-class col-4">
                    <div class="widget-class">
                        <div class="widget-icon">
                            <span class="lnr lnr-hand warning-color"></span>
                        </div>
                        <div class="widget-content">
                            <div class="widget-number">{{untouchedIncidents.value}} 
                                <span class="badge" [ngClass]="{'red-badge' : untouchedIncidents.change.increase, 'green-badge' : !untouchedIncidents.change.increase}">
                                    <span class="fa" [ngClass]="{'fa-caret-up' : untouchedIncidents.change.increase, 'fa-caret-down' : !untouchedIncidents.change.increase}"></span> {{unresolvedIncidents.change.value}} 
                                </span>
                            </div>
                            <div class="widget-subheading">{{untouchedIncidents.name}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            <div style="display: flex;">
                <div class="col-6" style="padding-left:0px;">     
                    <div class="chart-div">
                        <div class="chart-heading">
                            {{timeToResponseGraph[0].name}}
                        </div>
                        <div class="chart-parent line-chart-with-number" style="height:90px">
                            <ngx-charts-line-chart
                                [view]="view"
                                [scheme]="timeToColorScheme"
                                [results]="timeToResponseGraph"
                                [autoScale]="true"
                                [tooltipDisabled]="true">
                            </ngx-charts-line-chart>
                            <div class="widget-number"><span class="number">{{timeToResponseGraph[0].value}}</span> hours</div>
                        </div>
                    </div>
                </div>
                <div class="col-6" style="padding-right:0px;">       
                    <div class="chart-div">
                        <div class="chart-heading">
                            {{timeToSolveGraph[0].name}}
                        </div>
                        <div class="chart-parent line-chart-with-number" style="height:90px;">
                            <ngx-charts-line-chart
                                [view]="view"
                                [scheme]="timeToColorScheme"
                                [results]="timeToSolveGraph"
                                [autoScale]="true"
                                [tooltipDisabled]="true">
                            </ngx-charts-line-chart>
                            <div class="widget-number"><span class="number">{{timeToSolveGraph[0].value}}</span> hours</div>
                        </div>
                    </div>
                </div>
        </div>

        </div>

        <div class="col-5">      
            <div class="chart-div">
                <div class="chart-heading">
                    {{incidentsOverWeek.name}}
                </div>
                <div class="chart-parent no-legend-label" style="height:185px">
                    <ngx-charts-bar-vertical-stacked
                    [view]="view"
                    [scheme]="incidentsEasyColorScheme"
                    [results]="incidentsOverWeek.series"
                    [xAxis]="true"
                    [yAxis]="true"
                    [legendPosition]="'below'"
                    [legend]="true">
                </ngx-charts-bar-vertical-stacked>
                </div>
                <div style="height:50px">
                </div>
            </div>
        </div>
</div>

<div class="row">
    <div class="col-4">
        <div class="chart-div stacked-chart">
            <div class="chart-heading">
                <span style="padding-left: 15px;">{{ipBlacklist.name}} ({{ipBlacklist.length}})</span>
            </div>
            <div class="chart-parent no-legend-label no-margin-legend" style="height:50px">
                <!-- IP Blacklist -->   
                <ngx-charts-bar-horizontal-stacked
                    [view]="view"
                    [scheme]="IPColorScheme"
                    [results]="ipBlacklist.series"
                    [legend]="true"
                    [legendPosition]="'below'"
                    [gradient]="false">
                 </ngx-charts-bar-horizontal-stacked>  
            </div>
            <div style="height:45px">
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="chart-div stacked-chart">
            <div class="chart-heading">
                <span style="padding-left: 15px;"> {{emailBlacklist.name}} ({{emailBlacklist.length}})</span>
            </div>
            <div class="chart-parent no-legend-label no-margin-legend" style="height:50px">
                <!-- EMAIL Blacklist -->       
                <ngx-charts-bar-horizontal-stacked
                    [view]="view"
                    [scheme]="EmailColorScheme"
                    [results]="emailBlacklist.series"
                    [legend]="true"
                    [legendPosition]="'below'"
                    [gradient]="false">
                </ngx-charts-bar-horizontal-stacked>  
            </div>
            <div style="height:45px">
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="chart-div stacked-chart">
            <div class="chart-heading">
                <span style="padding-left: 15px;">{{dnsBlacklist.name}} ({{dnsBlacklist.length}})</span>
            </div>
            <div class="chart-parent no-legend-label no-margin-legend" style="height:50px">
                <!-- DNS Blacklist -->       
                <ngx-charts-bar-horizontal-stacked
                    [view]="view"
                    [scheme]="DNSColorScheme"
                    [results]="dnsBlacklist.series"
                    [legend]="true"
                    [legendPosition]="'below'"
                    [gradient]="false">
                </ngx-charts-bar-horizontal-stacked>  
            </div>
            <div style="height:45px">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">      
        <div class="chart-div">
            <div class="chart-heading">
                {{traffic.name}}
            </div>
            <div class="chart-parent no-legend-label" style="height:250px">
                <ngx-charts-area-chart
                [view]="view"
                [scheme]="colorSchemeTraffic"
                [results]="traffic.series"
                [xAxis]="true"
                [yAxis]="true"
                [showYAxisLabel]="true"
                [showXAxisLabel]="false"
                [xAxisLabel]="'Time'"
                [yAxisLabel]="'MB / sec'"
                [legendPosition]="'below'"
                [legend]="true">
              </ngx-charts-area-chart>
            </div>
            <div style="height:55px">
            </div>
        </div>
    </div>
</div>