@import './../ih-board/handler.component.scss';
@import './../app.component.scss';

.traffic-light {
    display: flex;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    
    .light-label:first-child {
        margin-top: 2em;
    }

    .light-label {
        margin-bottom: 3em;
        margin-left: 20px;
        
        span {
            font-weight: bold;
            font-size: 1.4rem;
            display: block;
            line-height: 1;
        }
    }
}
.light {
    width: 4em;
    height: 3.5em;
    background: #000;
    border-radius: 50%;
    margin: 1em auto;
    opacity: .1;
}
.light.active-light {
    opacity: 1;
}


.legend-labels.horizontal-legend{
    width: 120px !important;;
}
.legend-bottom-wrapper {
    height:65px;
}
.total-label {
    display: none;
}


.line-chart-with-number {
    .widget-number {
        position: absolute;
        font-weight: bold;
        font-size: 1.7em;
        display: block;
        line-height: 1;
        left: 30%;
        top: 40%;
        .number {
            font-size: 2.0em;
        }
    }
}