<div class="row">
  <div class="col-4">
    <div class="card">
      <div class="card-header">
        <span>All incidents by category</span>
        <ul class="nav" style="width: auto; margin-left: auto; height:100%;display: flex;">
          <li class="nav-item nav-active">
            <a href="javascript:void(0);" class="nav-link">General (19)</a>
          </li>
          <li class="nav-item">
            <a href="javascript:void(0);" class="nav-link">Automatic (47)</a>
          </li><li class="nav-item">
            <a href="javascript:void(0);" class="active nav-link">Info (23)</a>
          </li>
        </ul>
      </div>
      <div class="scroll-area scrollbar scrollbar-light">
        <!-- FIRST CONTENT -->    
        <table mat-table [dataSource]="dataSource" multiTemplateDataRows>
          <!-- id Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>#</th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
          <!-- Subject Column -->
          <ng-container matColumnDef="subject">
            <th mat-header-cell *matHeaderCellDef>Subject</th>
            <td mat-cell *matCellDef="let element"> {{element.subject}} </td>
          </ng-container>
          <!-- Status Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
          </ng-container>
          <!-- Priority Column -->
          <ng-container matColumnDef="priority">
            <th mat-header-cell *matHeaderCellDef>Priority</th>
            <td mat-cell *matCellDef="let element"           
            [ngClass]="{
                'critical-priority' : element.priority == 'critical',
                'medium-priority' : element.priority == 'medium',
                'low-priority' : element.priority == 'low'
            }">
            <span *ngIf="element.priority == 'critical'" class="lnr lnr-cross-circle"></span>
            <span *ngIf="element.priority == 'medium'" class="lnr lnr-warning"></span>
            <span *ngIf="element.priority == 'low'" class="lnr lnr-arrow-down"></span>
            {{element.priority}} </td>
          </ng-container>
          <!-- Updated Column -->
          <ng-container matColumnDef="updated">
            <th mat-header-cell *matHeaderCellDef>Updated</th>
            <td mat-cell *matCellDef="let element"> {{element.updated | date}} </td>
          </ng-container>

          <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
              <div class="example-element-detail"
                    [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <div class="example-element-description">
                  <strong>Last comment [USER123]</strong>: {{element.description}}<br/><br/>Source: <a href="https://xxx/{{element.id}}" target="_blank">RTIR</a>
                </div>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
              class="example-element-row"
              [class.example-expanded-row]="expandedElement === element"
              (click)="expandedElement = expandedElement === element ? null : element">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[3, 5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header">
        <span>All incidents assigned to me</span>
        <ul class="nav" style="width: auto; margin-left: auto; height:100%;display: flex;">
          <li class="nav-item nav-active">
            <a href="javascript:void(0);" class="nav-link">General (4)</a>
          </li>
          <li class="nav-item">
            <a href="javascript:void(0);" class="nav-link">Automatic (1)</a>
          </li><li class="nav-item">
            <a href="javascript:void(0);" class="active nav-link">Info (3)</a>
          </li>
        </ul>
      </div>
      <div class="scroll-area scrollbar scrollbar-light">
        <table mat-table [dataSource]="dataSourceAssigned" multiTemplateDataRows>
          <!-- id Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>#</th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
          <!-- Subject Column -->
          <ng-container matColumnDef="subject">
            <th mat-header-cell *matHeaderCellDef>Subject</th>
            <td mat-cell *matCellDef="let element"> {{element.subject}} </td>
          </ng-container>
          <!-- Status Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
          </ng-container>
          <!-- Priority Column -->
          <ng-container matColumnDef="priority">
            <th mat-header-cell *matHeaderCellDef>Priority</th>
            <td mat-cell *matCellDef="let element"           
            [ngClass]="{
                'critical-priority' : element.priority == 'critical',
                'medium-priority' : element.priority == 'medium',
                'low-priority' : element.priority == 'low'
            }">
            <span *ngIf="element.priority == 'critical'" class="lnr lnr-cross-circle"></span>
            <span *ngIf="element.priority == 'medium'" class="lnr lnr-warning"></span>
            <span *ngIf="element.priority == 'low'" class="lnr lnr-arrow-down"></span>
            {{element.priority}} </td>
          </ng-container>
          <!-- Updated Column -->
          <ng-container matColumnDef="updated">
            <th mat-header-cell *matHeaderCellDef>Updated</th>
            <td mat-cell *matCellDef="let element"> {{element.updated | date}} </td>
          </ng-container>

          <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
              <div class="example-element-detail"
                    [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <div class="example-element-description">
                  <strong>Last comment [USER123]</strong>: {{element.description}}<br/><br/>Source: <a href="https://xxx/{{element.id}}" target="_blank">RTIR</a>
                </div>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
              class="example-element-row"
              [class.example-expanded-row]="expandedElement === element"
              (click)="expandedElement = expandedElement === element ? null : element">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[3, 5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header">
        <span>New Security threats</span>
      </div>
      <div class="scroll-area scrollbar scrollbar-light">
        <table mat-table [dataSource]="threats" multiTemplateDataRows>
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
          <!-- Created Column -->
          <ng-container matColumnDef="created">
            <th mat-header-cell *matHeaderCellDef>Date</th>
            <td mat-cell *matCellDef="let element"> {{element.created | date}} </td>
          </ng-container>

          <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayThreats.length">
              <div class="example-element-detail"
                    [@detailExpand]="element == expandedElementThreat ? 'expanded' : 'collapsed'">
                <div class="example-element-description">
                  <strong>Description: </strong>{{element.description}} <br/><br/>Source: <a href="https://otx.alienvault.com/pulse/{{element.id}}" target="_blank">OTX</a>
                </div>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnsToDisplayThreats"></tr>
          <tr mat-row *matRowDef="let element; columns: columnsToDisplayThreats;"
              class="example-element-row"
              [class.example-expanded-row]="expandedElementThreat === element"
              (click)="expandedElementThreat = expandedElementThreat === element ? null : element">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[3, 5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>