<div class="row">
    <div class="col-1">           
        <div class="chart-div">
            <div class="chart-parent" style="height:285px">
                <div class="traffic-light">
                    <div class="lights">
                        <div class="light red-bg not-active"></div>
                        <div class="light orange-bg not-active"></div>
                        <div class="light green-bg"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
                
        <div class="chart-div">
            <div class="chart-parent row" style="height:105px;">
                <div class="widget-class col-4">
                    <div class="widget-icon">
                        <span class="lnr lnr-warning error-color" style="margin-bottom: 5px;"></span>
                    </div>
                    <div class="widget-content">
                        <div class="widget-number">31 <span class="badge red-badge"><span class="fa fa-caret-up"></span> 10</span></div>
                        <div class="widget-subheading">Unresolved incidents</div>
                    </div>
                </div>
                <div class="widget-class col-4">
                    <div class="widget-icon">
                        <span class="lnr lnr lnr-checkmark-circle ok-color" style="margin-left: 10px"></span>
                    </div>
                    <div class="widget-content">
                        <div class="widget-number">7</div>
                        <div class="widget-subheading">Solved Incidents (today)</div>
                    </div>
                </div>
                <div class="widget-class col-4">
                    <div class="widget-class">
                        <div class="widget-icon">
                            <span class="lnr lnr-hand warning-color"></span>
                        </div>
                        <div class="widget-content">
                            <div class="widget-number">15  <span class="badge green-badge"><span class="fa fa-caret-down"></span> 2</span></div>
                            <div class="widget-subheading">Untouched incidents</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            <div style="display: flex;">
                <div class="col-6" style="padding-left:0px;">     
                    <div class="chart-div">
                        <div class="chart-heading">
                            Avg. response time
                        </div>
                        <div class="chart-parent line-chart-with-number" style="height:90px">
                            <ngx-charts-line-chart
                                [view]="view"
                                [scheme]="timeToColorScheme"
                                [results]="timeToResponseGraph"
                                [autoScale]="true"
                                [tooltipDisabled]="true">
                            </ngx-charts-line-chart>
                            <div class="widget-number"><span class="number">2.1</span> hours</div>
                        </div>
                    </div>
                </div>
                <div class="col-6" style="padding-right:0px;">       
                    <div class="chart-div">
                        <div class="chart-heading">
                            Avg. time to solve an incident
                        </div>
                        <div class="chart-parent line-chart-with-number" style="height:90px;">
                            <ngx-charts-line-chart
                                [view]="view"
                                [scheme]="timeToColorScheme"
                                [results]="timeToSolveGraph"
                                [autoScale]="true"
                                [tooltipDisabled]="true">
                            </ngx-charts-line-chart>
                            <div class="widget-number"><span class="number">8.1</span> hours</div>
                        </div>
                    </div>
                </div>
        </div>

        </div>

        <div class="col-5">      
            <div class="chart-div">
                <div class="chart-heading">
                    Number of incidents over a week
                </div>
                <div class="chart-parent no-legend-label" style="height:185px">
                    <ngx-charts-bar-vertical-stacked
                    [view]="view"
                    [scheme]="incidentsEasyColorScheme"
                    [results]="incidentsOverWeek"
                    [xAxis]="true"
                    [yAxis]="true"
                    [legendPosition]="'below'"
                    [legend]="true">
                </ngx-charts-bar-vertical-stacked>
                </div>
                <div style="height:50px">
                </div>
            </div>
        </div>
</div>

<div class="row">
    <div class="col-4">
        <div class="chart-div stacked-chart">
            <div class="chart-heading">
                IP Blacklist (6302)
            </div>
            <div class="chart-parent no-legend-label no-margin-legend" style="height:50px">
                <!-- IP Blacklist -->   
                <ngx-charts-bar-horizontal-stacked
                    [view]="view"
                    [scheme]="IPColorScheme"
                    [results]="IpBlacklist"
                    [legend]="true"
                    [legendPosition]="'below'"
                    [gradient]="false">
                 </ngx-charts-bar-horizontal-stacked>  
            </div>
            <div style="height:45px">
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="chart-div stacked-chart">
            <div class="chart-heading">
                E-mail Blacklist (469)
            </div>
            <div class="chart-parent no-legend-label no-margin-legend" style="height:50px">
                <!-- EMAIL Blacklist -->       
                <ngx-charts-bar-horizontal-stacked
                    [view]="view"
                    [scheme]="EmailColorScheme"
                    [results]="EmailBlacklist"
                    [legend]="true"
                    [legendPosition]="'below'"
                    [gradient]="false">
                </ngx-charts-bar-horizontal-stacked>  
            </div>
            <div style="height:45px">
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="chart-div stacked-chart">
            <div class="chart-heading">
                DNS Blacklist (4)
            </div>
            <div class="chart-parent no-legend-label no-margin-legend" style="height:50px">
                <!-- DNS Blacklist -->       
                <ngx-charts-bar-horizontal-stacked
                    [view]="view"
                    [scheme]="DNSColorScheme"
                    [results]="DnsBlacklist"
                    [legend]="true"
                    [legendPosition]="'below'"
                    [gradient]="false">
                </ngx-charts-bar-horizontal-stacked>  
            </div>
            <div style="height:45px">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">      
        <div class="chart-div">
            <div class="chart-heading">
                In/Out traffic
            </div>
            <div class="chart-parent no-legend-label" style="height:250px">
                <ngx-charts-area-chart
                [view]="view"
                [scheme]="colorSchemeTraffic"
                [results]="traffic"
                [xAxis]="true"
                [yAxis]="true"
                [showYAxisLabel]="true"
                [showXAxisLabel]="false"
                [xAxisLabel]="'Time'"
                [yAxisLabel]="'MB / sec'"
                [legendPosition]="'below'"
                [legend]="true">
              </ngx-charts-area-chart>
            </div>
            <div style="height:55px">
            </div>
        </div>
    </div>
</div>