@import './../app.component.scss';

incidents-table {
    width: 96%;
    margin: 10px auto;
}

::ng-deep {
    .item-percent {
        display: none;
    }

    .ngx-charts-bar {
            pointer-events: none;
    }

    .stacked-chart {
        .chart-heading {
            height: 25px;
        }
        .ngx-charts {
            margin-top: 5px;
        }
    }

    .no-legend-label {
        .chart-legend {
            margin-top: 15px;
            margin-left: 15px;
            margin-right: 15px;
            .legend-wrap {
                width: calc(100% - 30px);
            }
            .legend-labels.horizontal-legend{
                max-height: unset !important;
                padding-left: 10px !important;
            }
        }
        .legend-title {
            display: none;
        }
    }
    .no-margin-legend {
        .chart-legend {
            margin-top: 0px;
        }
    }
}