.chart-div {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #dee2e6;
    border-radius: .35rem;
    margin-bottom: 20px;
    
    .chart-heading {
        padding: .75rem 1.25rem;
        margin-bottom: 0;
        color: inherit;
        color: rgba(31,10,6,0.6);
        font-size: 1.2rem !important;
    }

    .chart-heading.pie-chart-header {
        padding-bottom: 0px;
    }

    .widget-class {
        flex-direction: row;
        align-items: center;
        padding: .5rem;
        position: relative;
        display: flex;
        
        .widget-icon {    
            min-width: 54px;
            margin: 0 1rem 0 0;
            position: relative;
            overflow: hidden;
            display: flex;
            align-content: center;
            align-items: center;
            text-align: left !important;
            
            .lnr {
                margin: 0 auto;
                font-size: 3rem;
                position: relative;
                z-index: 10;
                margin-right: 1.5rem
            }

            .icon-wrapper {
                position: absolute;
                height: 100%;
                width: 100%;
                z-index: 3;
                opacity: 1 !important;
                min-width: 54px;
                margin: 0 1rem 0 0;
            }
        }

        .widget-content {
            display: flex;
            flex-direction: column;
            align-content: center;
            flex: 1;
            position: relative;

            .widget-subheading {
                margin-top: 0.5rem 0 0;
                display: block;
                opacity: .6;
            }
            .widget-number {
                font-weight: bold;
                font-size: 1.8rem;
                display: block;
                line-height: 1;

                .lnr {                   
                    font-weight: bolder;
                    font-size: 25px;
                }
            }
        }
    }

}

.badge {
    display: inline-block;
    padding: 4px 10px;
    text-align: center;
    padding-right: .5rem;
    padding-left: .5rem;
    border-radius: 10rem;
    background-color: #59CBB3!important;
    margin-left: .1rem!important;
    color: #fff!important;
    font-size: 12px;
    vertical-align: super;
}

.chart-parent {
    display: flex !important;
    margin: 10px;
}

.error-color {
    color: #d92550 !important;
}

.warning-color {
    color: #f7b924 !important;
}

.ok-color {
    color: #59CBB3 !important;
}

incidents-table {
    width: 96%;
    margin: 10px auto;
}

::ng-deep {
    .item-percent {
        display: none;
    }
}