<div class="row">
    <div class="col-3">           
        <div class="chart-div">
            <div class="chart-parent" style="height:150px">
                <div class="widget-class">
                    <div class="widget-icon">
                        <span class="lnr lnr-warning error-color" style="margin-bottom: 5px;"></span>
                    </div>
                    <div class="widget-content">
                        <div class="widget-number">31</div>
                        <div class="widget-subheading">Unresolved incidents</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">           
        <div class="chart-div">
            <div class="chart-parent" style="height:150px">
                <div class="widget-class">
                    <div class="widget-icon">
                        <span class="lnr lnr-plus-circle" style="color: #59CBB3"></span>
                    </div>
                    <div class="widget-content">
                        <div class="widget-number">6 <span class="badge">in 24 hours</span></div>
                        <div class="widget-subheading">New incidents</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">           
        <div class="chart-div">
            <div class="chart-parent" style="height:150px">
                <div class="widget-class">
                    <div class="widget-icon">
                        <span class="lnr lnr-hand warning-color"></span>
                    </div>
                    <div class="widget-content">
                        <div class="widget-number">15</div>
                        <div class="widget-subheading">Untouched incidents</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="chart-div">
            <div class="chart-parent" style="height:150px">
                <!-- PIE CHART -->       
                <ngx-charts-pie-chart
                    [view]="view"
                    [scheme]="incidentsColorScheme"
                    [results]="incidentsByCategory"
                    [legend]="false"
                    [explodeSlices]="true"
                    [labels]="true"
                    [doughnut]="true"
                    [gradient]="false">
                </ngx-charts-pie-chart>
            </div>
        </div>
    </div>
</div>

<incidents-table></incidents-table>
    
