<div class="row">
    <div class="col-3">           
        <div class="chart-div">
            <div class="chart-parent" style="height:80px">
                <div class="widget-class">
                    <div class="widget-icon widget-offset" style="padding-left:10px;">
                        <span class="lnr lnr-warning error-color" style="margin-bottom: 5px;"></span>
                    </div>
                    <div class="widget-content">
                        <div class="widget-number">31 <span class="badge red-badge"><span class="fa fa-caret-up"></span> 10</span></div>
                        <div class="widget-subheading">Unresolved incidents</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">           
        <div class="chart-div">
            <div class="chart-parent" style="height:80px">
                <div class="widget-class">
                    <div class="widget-icon widget-offset">
                        <span class="lnr lnr-plus-circle" style="color: #59CBB3"></span>
                    </div>
                    <div class="widget-content">
                        <div class="widget-number">6</div>
                        <div class="widget-subheading">New incidents (Today)</div>
                    </div>
                </div>
            </div>
        </div>
    </div>    <div class="col-3">
        <div class="chart-div">
            <div class="chart-parent" style="height:80px">
                <div class="widget-class">
                    <div class="widget-icon widget-offset">
                        <span class="lnr lnr-hand warning-color"></span>
                    </div>
                    <div class="widget-content">
                        <div class="widget-number">15</div>
                        <div class="widget-subheading">Untouched incidents</div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <div class="col-3">
        <div class="chart-div">
            <div class="chart-parent" style="height:80px">
                <div class="widget-class">
                    <div class="widget-icon">
                        <span class="lnr lnr-tag" style="color: #7AA3E5"></span>
                    </div>
                    <div class="widget-content">
                        <div class="widget-number">9  <span class="badge green-badge"><span class="fa fa-caret-down"></span> 2</span></div>
                        <div class="widget-subheading">Incidents assigned to me</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-6">  
        <div class="chart-div stacked-chart">
            <div class="chart-heading pie-chart-header">
                <span style="padding-left: 15px;"><strong>31: </strong> All Incidents by priority</span>
            </div>
            <div class="chart-parent no-legend-label no-margin-legend" style="height:50px">
                <ngx-charts-bar-horizontal-stacked
                    [view]="view"
                    [scheme]="incidentsEasyColorScheme"
                    [results]="incidentsByPriority"
                    [legend]="true"
                    [legendPosition]="'below'"
                    [gradient]="false">
                 </ngx-charts-bar-horizontal-stacked>  
            </div>
            <div style="height:45px">
            </div>
        </div>         
    </div>
    <div class="col-6">  
        <div class="chart-div stacked-chart">
            <div class="chart-heading pie-chart-header">
                <span style="padding-left: 15px;"><strong>9: </strong> Incidents assigned to me</span>
            </div>
            <div class="chart-parent no-legend-label no-margin-legend" style="height:50px">
                <ngx-charts-bar-horizontal-stacked
                    [view]="view"
                    [scheme]="incidentsEasyColorScheme"
                    [results]="incidentsAssignedToMe"
                    [legend]="true"
                    [legendPosition]="'below'"
                    [gradient]="false">
                 </ngx-charts-bar-horizontal-stacked>
            </div>
            <div style="height:45px">
            </div>
        </div>         
    </div>
</div>

<incidents-table></incidents-table>
    
