<!-- HEADER -->
<div>
  <nav class="navbar navbar-light bg-light">
    <div class="menu-hamburger-btn">
        <button class="navbar-toggler">
            <span class="navbar-toggler-icon" (click)="openCloseMenu()"></span>
        </button>
    </div>
  </nav>
</div>

<!-- SIDEBAR -->
<div class="sidebar" *ngIf="openedMenu">
  <div id="mySidebar" class="sidebar">
      <a href="#">Dashboard</a>
      <a href="#">Other</a>
  </div>
</div>

<!-- CONTENT -->
<div class="content" [ngClass]="{'content-with-sidebar': openedMenu}">   
  <content></content>
</div>